
body{
	margin: 0; 
	padding: 0;
	border: 0;
}

header{
	width: 100%;
	height: 50px;
	background-color: #3385ff;
	padding-top: 10px;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	text-align: center;
}


#choose_article{
	margin-top: 20px;
	border: #3385FF solid 2px;
	padding: 10px;
	width: 100%;	
}

ul{
	list-style: none;
	list-style-type: none;
	margin-left: 40%;
}

ul > li{
	margin-top: 50px;
	font-size: 20pt;
}


ul > li >a{
	text-decoration: none;
}
